h1 {
  text-align: center;
}

.square {
  aspect-ratio: 1/1;
  width: 100%;
  border: 1px solid black;
  font-size: clamp(1rem, 20vw, 9rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}
